{% extends 'layouts/base.html' %}

{% block content %}

<header class="home_bg masthead text-center text-white d-flex">
  <div class="container my-auto">

    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Créez un nouveau compte !</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <h2 class="text-faded mb-5">Entrez votre nom d'utilisateur et votre mot de passe</h2>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <form action="{% url 'healthier_food:account_creation' %}" method="get" accept-charset="utf-8">
                {% csrf_token %}

                <div class="form-group">
                    <input id="username" class="form-control" name="username" placeholder="Nom d'utilisateur">
                    <input id="password" class="form-control" name="password" placeholder="Mot de passe">
                </div>
            </form>
        </div>
    </div>

  </div>
</header>

{% endblock %}
