{% extends 'layouts/base.html' %}

{% block content %}

<header class="home_bg masthead text-center text-white d-flex">
  <div class="container my-auto">

    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Connectez-vous à votre compte !</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <h2 class="text-faded mb-5">Entrez votre nom d'utilisateur et votre mot de passe</h2>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">

            {% if error %}
                <p><strong>Désolé, les informations saisies ne sont associées à aucun compte existant</strong></p>
            {% endif %}

{% comment %}
    La variable 'user' dans les templates est ajoutée par un processeur de contexte inclus par défaut. Le même objet est disponible via 'request.user' dans les vues.
{% endcomment %}

            {% if user.is_authenticated %}
                Vous êtes connecté, {{ user.username }}

            {% else %}

                <form action="{% url 'healthier_food:my_account' %}" method="post" accept-charset="utf-8">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}" class="control-label">Adresse email</label>
                        {{ form.username }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.last_name.id_for_label }}" class="control-label">Mot de passe</label>
                        {{ form.password }}

                    </div>
                    <button type="submit" class="btn btn-success">Se connecter</button>
                </form>

            {% endif %}



        </div>

        <div class="col-lg-8 mx-auto">
          <h2 class="text-faded mb-5">Pas encore de compte ?</h2>

          <a class="btn btn-light btn-xl sr-button" href="{% url 'healthier_food:new_account' %}">Créez-en un ici !</a>

        </div>

    </div>

  </div>
</header>

{% endblock %}
