{% extends 'healthier_food/base.html' %}

{% block content %}
    {% for unhealthy_product in unhealthy_products %}
        <header class="detail_bg masthead text-center text-white d-flex">
          <div class="container my-auto">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <h2 class="text-uppercase">
                  <strong>{{ unhealthy_product }}</strong>
                </h1>
                <hr>
              </div>
            </div>
          </div>
        </header>
    {% endfor %}
{% endblock %}
