{% extends 'healthier_food/base.html' %}

{% block content %}
    <header class="search_bg masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">{{unhealthy_products|length}} produits correspondants à votre recherche - Lequel voulez-vous substituer ?
                <ul class="col-lg-10 mx-auto">
                    {% for unhealthy_product in unhealthy_products %}
                        <li class="text-uppercase">
                            <a href="/healthier_food/substitute/{{ unhealthy_product.code }}"><strong>{{ unhealthy_product }}</strong></a>
                        </li>
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}

                        {% empty %}
                            <p>Aucun produit ne correspond à votre recherche</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </header>
{% endblock %}
