{% extends 'healthier_food/base.html' %}

{% block content %}
    <header class="search_bg masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">Voici les meilleurs substituts pour remplacer "{{ unhealthy_product }}" :
            </div>
            <div class="row">
                {% for healthy_product in healthy_products %}
                    <p class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-uppercase text-center">
                        <a href="/healthier_food/{{ healthy_product.code }}"><img src="{{ healthy_product.image }}"><br><strong>{{ healthy_product.name }} - {{ healthy_product.nutrition_grade }}</strong></a>
                    </p>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}

                    {% empty %}
                        <p>Aucune proposition de substitut satisfaisante :-(</p>
                {% endfor %}
            </div>
        </div>
    </header>
{% endblock %}
