{% extends 'healthier_food/base.html' %}

{% block content %}
    <header class="search_bg masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">Voici les {{healthy_products|length}} meilleurs substituts envisageables :
                <ul class="col-lg-10 mx-auto">
                    {% for healthy_product in healthy_products %}
                        <li class="text-uppercase">
                            <a href="/healthier_food/{{ healthy_product.code }}"><strong>{{ healthy_product.name }}</strong></a>
                        </li>
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}

                        {% empty %}
                            <p>Aucune proposition de substitut satisfaisante :-(</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </header>
{% endblock %}
